{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="home-wrapper">
<div class="row home-1">
   <div class="col-sm-8 col-md-4 content-light">
      <h1>Your Path to Serenity and Strength!</h1>
      <p>Namaste and a warm embrace to Rowan Tree Yoga, a tranquil haven nestled near Swansea in the captivating landscapes of South Wales. 
         Led by our passionate yogini, Hannah, our sanctuary is dedicated to helping you embark on a transformative journey of self-discovery, inner peace, and physical vitality.</p>
   </div>
</div>
</div>
<div class="row home-2">
   <div class="col-8">
      <h1>Classes</h1>
      <p>At Rowan Tree Yoga, we believe that every individual possesses a unique and beautiful inner light, waiting to be kindled through the ancient practice of yoga. 
         With a fusion of traditional wisdom and modern insights, Hannah lovingly curates a variety of classes suitable for practitioners of all levels - from absolute beginners seeking grounding and balance, to experienced yogis looking to deepen their practice.</p>
   </div>
   <div class="col-4 text-center home-button">
      <button class="col btn btn-cool-blues" onclick="location.href='{% url 'home:classes' %}'">Class Schedule</button>
   </div>
</div>

{% endblock %}