{% extends "base.html" %}
{% load static %}

{% block content %}
      {% for review in reviews %}
      <div class="row review-container">
          <div class="col-sm-12 review">
            <div class="row">
              <h2 class="featurette-heading">{{ review.title }}</h2>
              <p class="lead">{{ review.content }}</p>
            </div>
              <div class="row">
                  <p>{{ review.user }}</p>
                  <p>{{ review.created }}</p>
              </div>
          </div>
      </div>
      {% endfor %}
{% endblock %}