/* .dark-red-bg {
    background-color: darkred;
}

.nav-link {
    font-size: 35px;
    padding: 10px;
}

.burger-menu {
    font-size: 40px;
    font-weight: 400;
    color: white;
}

.title {
    font-size: 60px;
    color: white;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    .nav-link {
        font-size: 25px;
    }
    .burger-menu {
        font-size: 30px;
    }
    .title {
        font-size: 40px;
    }
}

@media screen and (max-width: 670px) {
    .nav-link {
        font-size: 20px;
    }
    .burger-menu {
        font-size: 25px;
    }
    .title {
        font-size: 30px;
    }
} */

body {
    background-color: black;
}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}