.dark-red-bg {
    background-color: darkred;
}

.nav-link {
    font-size: 35px;
    padding: 10px;
}

.burger-menu {
    font-size: 40px;
    font-weight: 400;
    color: white;
}

.title {
    font-size: 60px;
    color: white;
    font-weight: 400;
}