{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="keywords"
      content="Yoga, Wales, Rowan Tree, South Wales, Swansea, Calm, Relax"
    />
    <meta name="author" content="Ben Dawson" />
    <meta name="description" content="Yoga in South Wales" />
    {% endblock %} {% block corecss %}
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
    />
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <!-- Mailchimp CSS -->
    <link
      href="//cdn-images.mailchimp.com/embedcode/classic-071822.css"
      rel="stylesheet"
      type="text/css"
    />
    {% endblock %} {% block corejs %}
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Touch swipe -->
    <script type="text/javascript" src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>
    <!-- Ekko-Lightbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/8e896d3229.js"
      crossorigin="anonymous"
    ></script>
    <script>
      function showToast(message) {
        // create a new toast element
        let toast = document.createElement("div");
        toast.classList.add("toast", "toast-body");
        toast.innerHTML = message;
        // add the toast to the container
        let container = document.getElementById("toast-container");
        container.appendChild(toast);
  
        // show the toast for 3 seconds
        setTimeout(function () {
          toast.classList.add("show");
        }, 1);
        setTimeout(function () {
          container.classList.add("show");
        }, 1);
        setTimeout(function () {
          toast.classList.remove("show");
        }, 3000);
        setTimeout(function () {
          container.classList.remove("show");
          container.classList.add("d-none");
        }, 3000);
      }
    </script>
    {% endblock %}

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.ico' %}"
    />
    <title>Rowan Tree Yoga</title>
  </head>

  <body>
    <div class="row">
      <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top py-3">
          <div class="container">
            <a href="{% url 'home:home' %}" class="navbar-brand text-uppercase font-weight-bold"
              >Rowan Tree Yoga</a
            >
            <button
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
              class="navbar-toggler navbar-toggler-right"
            >
              <i class="fa fa-bars"></i>
            </button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a
                    href="{% url 'home:home' %}"
                    class="nav-link text-uppercase font-weight-bold"
                    >Home <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="{% url 'home:about_us' %}"
                    class="nav-link text-uppercase font-weight-bold"
                    >About</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="{% url 'home:classes' %}"
                    class="nav-link text-uppercase font-weight-bold"
                    >Classes</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="{% url 'home:gallery' %}"
                    class="nav-link text-uppercase font-weight-bold"
                    >Gallery</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="{% url 'home:reviews' %}"
                    class="nav-link text-uppercase font-weight-bold"
                    >Reviews</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="{% url 'home:contact_us' %}"
                    class="nav-link text-uppercase font-weight-bold"
                    >Contact Us</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    </div>
    <div id="toast-container">
      <div class="toast-body">
        {{ message }}
      </div>
    </div>
    <!-- Displays Messages -->
    {% if messages %}
    {% for message in messages %}
    <script>
      showToast("{{ message }}");
    </script>
    {% endfor %}
    {% endif %}
<div class="content-wrapper">
    {% block content %} 
    {% endblock %}
  </div>
    <footer class="footer-basic">
        <a href="#" aria-label="Arrow to top of page"><i class="fa-solid fa-arrow-up fa-lg"></i></a>
        <p class="copyright">Rowan Tree Yoga © 2023</p>
    </footer>

    {% block postloadjs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script>
      // Transparent Nav Bar
      $(function () {
        $(window).on("scroll", function () {
          if ($(window).scrollTop() > 10) {
            $(".navbar").addClass("active");
          } else {
            $(".navbar").removeClass("active");
          }
        });
      });
      // Transparent Footer
      $(function () {
        $(window).on("scroll", function () {
          if ($(window).scrollTop() > 5) {
            $(".footer-basic").addClass("active");
          } else {
            $(".footer-basic").removeClass("active");
          }
        });
      });
    </script>
    {% endblock %}
  </body>
</html>
